@charset "UTF-8";
/* cosmiclink_description styling */
.cosmiclink_description {
  line-height: 1.4em; }
  .cosmiclink_description > * {
    margin: 1.4em 0; }
  .cosmiclink_description ul {
    margin: 0.53em 0;
    padding-left: 0.53em;
    list-style-type: none;
    list-style-position: inside; }

.cosmiclib_transactionNode > * {
  margin: 0.87em 0; }

.cosmiclib_sideInfo {
  border-left: medium solid lightgrey; }

.cosmiclib_sourcedOperation {
  background: ghostwhite; }
  .cosmiclib_sourcedOperation > * {
    margin: 0.2em 0;
    padding-left: 0.53em; }
  .cosmiclib_sourcedOperation .cosmiclib_operation {
    border-left: medium solid transparent; }

.cosmiclib_signersNode {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .cosmiclib_signersNode:empty {
    display: none; }

.cosmiclib_statusNode,
.cosmiclib_signersNode {
  font-size: 0.9em; }
  .cosmiclib_statusNode ul,
  .cosmiclib_signersNode ul {
    margin-top: 0;
    padding-left: 0; }

.cosmiclib_status,
.cosmiclib_threshold {
  font-weight: bold;
  font-stretch: condensed; }

.cosmiclib_errors {
  background: salmon; }
  .cosmiclib_errors li::before {
    content: " ✘ ";
    color: tomato; }

.cosmiclib_signers li {
  padding-right: 0.2em; }

.cosmiclib_signed {
  background-color: lightgreen; }
  .cosmiclib_signed::before {
    content: " ✔ ";
    color: mediumseagreen; }

.cosmiclib_clickable,
.cosmiclib_error {
  border-top: medium solid transparent;
  border-bottom: medium solid transparent;
  padding: 0 0.1em;
  transition: all 0.2s; }
  .cosmiclib_clickable:hover,
  .cosmiclib_error:hover {
    cursor: pointer; }

.cosmiclib_clickable {
  border-bottom-color: #F0F0F0; }
  .cosmiclib_clickable:hover {
    border-top-color: whitesmoke;
    background-color: whitesmoke; }

.cosmiclib_error {
  border-bottom-color: tomato; }
  .cosmiclib_error:hover {
    border-top-color: salmon;
    background-color: salmon; }

.cosmiclib_tilde {
  font-style: bold;
  color: lightgrey; }

.cosmiclib_loadingAnim,
.cosmiclib_loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.2em;
  border-radius: 100%;
  background-color: grey;
  vertical-align: middle;
  animation: animate 1.0s infinite; }

@keyframes animate {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }
